header{
    background-image: url("house.jpeg");
}

h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2{
    color: azure;
}

strong{
    color: blue;
}

#brushes{
    background-color: #00FA9A;
}

#frames{
    background-color: #F08080;
}

#paint{
    background-color: #87CEEB;
}